body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
}
h1 {
	color: rgb(134, 0, 22);
}
header {
	background-color: #333;
	color: white;
	padding: 1rem;
}
nav a {
	color: rgb(215, 215, 215);
	text-decoration: none;
	margin-right: 1rem;
}
nav a:hover {
	text-decoration: underline;
	color: white;
}
main {
	max-width: 800px;
	margin: 0 auto;
	padding: 2rem;
}
img {
	max-width: 100%;
	margin-top: 1rem;
	height: auto;
}
